name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        mode: [release, dev]
        go: ["1.25.7"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Install prerequisites (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev libayatana-appindicator3-dev

      - name: Build deej (Windows)
        if: runner.os == 'Windows'
        run: scripts/windows/build-${{ matrix.mode }}.bat
        shell: cmd

      - name: Build deej (Linux)
        if: runner.os == 'Linux'
        run: scripts/linux/build-${{ matrix.mode }}.sh

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: deej-${{ matrix.mode }}-${{ runner.os }}
          path: build/
